.rule-field-row {
  display: flex;
  position: relative;
  :global {
    .move-icon {
      margin-top: 8px;
      margin-right: 10px;
      cursor: move;
      transform: rotate(90deg);
    }

    .el-button {
      margin-left: 8px;
      min-width: 0;
      width: 32px;
      box-sizing: border-box;
    }
  }
}
